body {
    font-family: 'Roboto', sans-serif;
  }

 .header{
    margin-top: 40px;
 }

 .uppercase{
     text-transform: uppercase;
 }

 .bold{
     font-weight: 900;
 }

 button{
    letter-spacing: 2px;
 }


 